.grosTitre {
  background-color: white;
  width: 90%;
  height: auto;
  position: relative;
  padding: 80px 0;
  font-family: "poppins", sans-serif;
  text-align: center;
}
.titreContact,
.titreContactSuite {
  font-size: 56px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 9px;
}
.titreContact {
  color: #666;
}
.titreContactSuite {
  color: orange;
}

.titreFond {
  font-size: 110px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 5%;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(-50%);
  color: rgba(145, 145, 145, 0.2);
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .grosTitre {
    padding: 40px 0px 0px 0;
    width: 100%;
  }
  .titreContact {
    font-size: 30px;
    position: relative;
    top: -15px;
    text-align: center;
  }
  .titreContactSuite {
    font-size: 30px;
  }
  .titreFond {
    letter-spacing: 4px;
    font-size: 45px;
    top: -1%;
  }
}
